* {
    margin: 0;
    padding: 0;
}

body {
    font-family:sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.side-bar {
    background-color: black;
    width: 340px;
    border-radius: 1rem;
    margin: 2px 7px 2px 2px;
}

.nav {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    height: 100px;
    justify-content: center;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border-radius: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.nav-ops {
    line-height: 2.5rem;
    opacity: 0.7;
   
}

.nav-ops:hover {
    line-height: 2.5rem;
    opacity: 1;
}

.nav-ops i {
    font-size: 1.25rem;
}

.nav-ops a {
    font-size: 1rem;
    margin-left: 1rem;
}

.library {
    border-radius: 1rem;
    background-color: #121212;
    margin-top: 0.75rem;
    height: 100%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
     margin-left: 1rem;
}

.icons i{
    padding: 1rem;
    margin: 0.4rem;
    margin-right: 1rem;
}

.card-body {
    background-color: #232323;
    color: white;
    border: none;
    width: 332px;
    height: 134px;
    border-radius: 1rem;
     margin-top: 14px;
     padding: 0px 8px 8px;
}

.card-msg {
    margin: 8px;
    padding: 16px 20px;
}

.h5 {
    font-weight: 700;
    font-size: 15px;
}

.box1-msg {
    font-size: 14px;
}

.box1-btn {
    background-color: white;
    color: black;
    width: 142px;
    height: 32px;
    font-weight: 700;
    font-size: 13.3px;
    padding: 4px 14px;
    border-radius: 2rem;
}

.legal-link {
    width: 307px;
    height: 60px;
    font-size: 11px;
    margin: 30px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.legal-items {
    display: flex;
    flex: 1 1 33%;
    justify-content: space-evenly;
    color: #b3b3b3;
}

.earth {
    padding-left: 2rem;
    padding-bottom: 2.3rem;
    
}

.earth :hover {

}

.icons-english {
    height: 32px;
    width: 101px;
    border-radius: 2rem;
    background-color: black;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid white;
}

.main-content {
     background-color: #121212;
     flex: 1;
     border-radius: 1rem;
     overflow-x: auto;
     overflow-y: scroll;
     padding: 0 1.5rem 0 1.5rem;
     flex-direction: column;
}

.stick-nav {
    position: sticky;
    top: 0;
    z-index: 10; 
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.sticky-nav-icons img {
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}

.sticky-nav-ops {
    margin-right: 1.5rem;
    align-items: center;
}

.explore {
    border-radius: 2rem;
    font-size: 14px;
    font-weight: 700;
     width: 142px;
    height: 32px;
}
.install {
    border-radius: 2rem;
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: 700;
    width: 142px;
    height: 32px;
    border: none;
}

.install i {
    margin-right: 5px;
}

.card-container {
    display: flex;
    height: 300px;
    width: 100%;
}

.recently {
    font-weight: 700;
    margin-top: 0.9rem;
}

.card {
    background-color: #232323;
    border-radius: 0.5rem;
     width: 190px;
    color: white;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
    display: flex;
}

.card-img {
    border-radius: 0.5rem;
   
    padding-bottom: 0.8rem;
}

.card-title {
    font-weight: 600;
}

.card-info {
    font-size: 0.8rem;
    opacity: 0.8;
}

.footer {
    height: 150px;
}

.music-player {
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.album {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.album-img {
    height: 50px;
    width: 50px;
}

.album-name {
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    align-items: center;
}

.name1 {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.name2 {
    opacity: 0.8;
    font-size: 14px;
}

.album-icon1 {
     height: 30px;
    width: 30px;
}

.album-icon2 {
     height: 30px;
    width: 30px;
    margin-right: 0.9rem;
}

.player {
    width: 50%;
    align-items: center;
}

.player-controls {
    display: flex;
    justify-content: center;
   
}

.player-control-icon {
    height: 1rem;
    margin-right: 2rem;
    opacity: 0.7;
}

.player-control-icon :hover {
    height: 1rem;
    margin-right: 2rem;
    opacity: 1;
}

.playback-bar {
    display: flex;
    justify-content: center;
    margin-right: 1.7rem;
    margin-top: 0.5rem;
    appearance: none;
    cursor: pointer;
}

.controls {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.controls img {
    height: 25px;
    width: 25px;
}

@media (min-width: 0px) and (max-width: 348px) {
    /* Hide sidebar */
    .side-bar {
        display: none;
    }

    /* Stack main content full width */
    .main {
        flex-direction: column;
        padding: 0.5rem;
    }

    .main-content {
        width: 100%;
        padding: 0.5rem;
        overflow-y: auto;
        overflow-x: hidden;
    }

    /* Cards: full width, stacked vertically */
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto; /* let it grow naturally */
        margin: 0;
    }

    .card {
        width: 90%;       /* take most of phone width */
        margin: 0.5rem 0; /* spacing between cards */
        display: flex; 
        flex-direction: column;
        align-items: flex-start;
    }

    .card-img {
        width: 100%;
        height: auto;
        margin-bottom: 0.5rem;
    }

    .card-title, .card-info {
        text-align: left;
    }

    .music-player {
        display: none;
    }
}